.app {
  text-align: center;
}

.okta-logo {
  width: 160px;
  margin-top: -15px;
  margin-left: 10px;
}

.app-header {
  background-color: #bdbbbb;
  padding: 30px;
  color: white;
  padding-bottom: 30px;
}
.app-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#okta-sign-in {
  margin-top: 20px;
}
.site-wrapper:first-of-type {
  border-top: 1px solid #b9b9b9;
}
.site-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b9b9b9;
}

.site-contents {
  padding: 30px;
  display: flex;
  align-items: center;
}
.site-url a {
  text-decoration: none;
}
.site-cookies {
  margin-right: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
